@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
img {
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: #040404;
  line-height: 1.5;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
  height: 70px;
  background-color: #434343;
}
nav .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .links li {
  list-style: none;
}
nav .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #f00;
}

.main-container {
  width: 90vw;
  margin: 0 auto;
  padding: 40px 0;
}

.category-head {
  margin: 30px 0;
}

.category-head ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.category-title {
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content: center;
  background: red;
  padding: 1.75rem;
  color: white;
  margin: 6.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.category-title li {
  font-size: large;
  font-weight: 800;
  text-transform: uppercase;
}

.category-title:hover {
  opacity: 80%;
}
.category-title li {
  padding: 0 10px;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.post-container > div {
  box-shadow: 0px 8px 22px -12px rgba(0, 0, 0.64);
}
/* .category-name {
  position: absolute;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
  padding-right: 10rem;
  top: 10px;
} */
.post-img h2 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}
.post-img img {
  cursor: pointer;
}
.post-img:hover {
  transform: scale(1.1);
}

.wrapper{
  background:rgba(0, 0, 0.64);
  display: block;
}
.video-player {
  width: 60%;
  position: fixed;
  top: 17.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
  z-index: 5;
  transition: all 0.3s;
}

.video-player video{
  width: 100%;
  position: fixed;
  border-radius: 5px;
  border: 3px solid #fff;
  object-fit: cover;
  z-index: 5;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
  z-index: 5;
}
.active {
  background: #434343;
}
