@media screen and (max-width: 768px) {
  nav .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  nav .links a {
    font-size: 20px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 2560px) {
  html {
    font-size: 60%;
    scroll-padding: 10rem;
  }
  section {
    padding: 5rem 4rem;
  }
  .title .text {
    width: 100rem;
    float: center;
  }
  .title .text .desc {
    font-size: 80%;
    float: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .title .text {
    width: 50rem;
    float: center;
  }
  .title .text .desc {
    font-size: 4rem;
    float: center;
  }
  .post-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-section {
    display: flex;
    flex-direction: column;
  }
  .contact-info .contact-form {
    margin: 30px 50px;
  }
  .contact-form h2 {
    font-size: 2rem;
  }
  .contact-form .text-box {
    width: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 30%;
    scroll-padding: 7rem;
  }
  section {
    padding: 2rem 1rem;
  }
  .title .text {
    width: 50rem;
    float: center;
  }
  .title .text .desc {
    font-size: 4rem;
    float: center;
  }
  .post-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-section {
    flex-direction: column;
  }
  .contact-info .contact-form {
    margin: 30px 50px;
  }
  .contact-form h2 {
    font-size: 5rem;
  }
  .contact-form .text-box {
    width: 100%;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    font-size: 4.5rem;
  }
  .container {
    margin-left: -10rem;

  }
  .video-player {
    width: 100%;
  }
  .grid {
    padding-top: 20rem;
    display: block;
    justify-content: center;
    float: center;
    width: 40rem;
    margin-left: 55rem;
  }
  .grid h2 {
    font-size: 7rem;
    text-align: center;
    margin-left: -10rem;
  }

  #results {
    justify-content: center;
    text-align: justify;
    font-size: 10rem;
    width: 20rem;
  }
  .resultsf {
    font-size: 4rem;
    margin-left: -5rem;
    width: 35rem;
  }
  .pie-chart {
    margin-top: 25%;
    margin-left: -6rem;
    padding-top: 0.15rem;
    width: 38.5rem;
    float: left;
  }
  .contact-info {
    color: #fff;
    max-width: 500px;
    width: 600px;
    line-height: 65px;
    padding-left: 2rem;
    font-size: 3rem;
    margin-right: 75px;
  }
}
