*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 30px;
  font-family: sans-serif;
  background: #ebebeb;
}
.div{
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: white;
  margin: 100px 0;
  border-radius: 7px;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
font-family: "Nunito", sans-serif;
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
text-decoration: none;
outline: none;
border: none;
text-transform: capitalize;
-webkit-transition: all 0.2s linear;
transition: all 0.2s linear;
}

body {
padding: 0;
margin: 0;
}

nav {
position: fixed;
z-index: 10;
left: 0;
right: 0;
top: 0;
font-family: "Montserrat", sans-serif;
padding: 0 5%;
height: 70px;
background-color: #434343;
}
nav .logo {
float: left;
width: 40%;
height: 100%;
display: flex;
align-items: center;
font-size: 24px;
color: #fff;
}
nav .links {
float: right;
padding: 0;
margin: 0;
width: 60%;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}
nav .links li {
list-style: none;
}
nav .links a {
display: block;
padding: 1em;
font-size: 16px;
font-weight: bold;
color: #fff;
text-decoration: none;
}
#nav-toggle {
position: absolute;
top: -100px;
}
nav .icon-burger {
display: none;
position: absolute;
right: 5%;
top: 50%;
transform: translateY(-50%);
}
nav .icon-burger .line {
width: 30px;
height: 5px;
background-color: #fff;
margin: 5px;
border-radius: 3px;
transition: all 0.3s ease-in-out;
}

html {
font-size: 62.5%;
scroll-behavior: smooth;
scroll-padding-top: 5rem;
overflow-x: hidden;
}

html::-webkit-scrollbar {
width: 1rem;
}

html::-webkit-scrollbar-track {
background: #000;
}

html::-webkit-scrollbar-thumb {
background: #f00;
}

body {
background: #000000;
}

div {
display: block;
width: 100%;
}
.container {
position: relative;
text-align: center;
font-size: 100%;
background-size: contain;
width: 100%;
margin-top: 100px;
padding-top: 800px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-image:url("img/Arnold.png");
background-repeat: no-repeat;
background-size: 1600px;
}

.container .title {
position: absolute;
top: 20%;
width: 100%;
background-color: transparent;
color: red;
border-radius: 7px;
font-size: 15rem;
}

.container .desc {
position: absolute;
color: white;
font-size: 3.5rem;
width: 60%;
top: 45%;
left: 20%;
}

.type {
border: 2px solid red;
text-align: center;
padding: 40px;
margin: auto;
margin-top: 100px;
margin-bottom: 50px;
width: 1620px;
border-radius: 20px;
background: linear-gradient(#434343 0% 75%, red 61% 0%);
}
.content {
text-align: center;
font-size: 20px;
padding-left: 300px;
padding-right: 300px;
font-family: "Montserrat", sans-serif;
background-color: red;
color: white;
}
.head {
color: white;
font-weight: bold;
font-size: 35px;
font-family: "Montserrat", sans-serif;
padding-bottom: 20px;
}

.type img {
margin: auto;
width: 700px;
height: 500px;
border: 2px solid black;
border-radius: 10px;
margin-bottom: 30px;
}

.container2 {
  width: 90vw;
  margin: 0 auto;
}

.filter-container{
  margin-top: 50px;
  
}

.heading{
  font-size: 7rem;
  color: red;
  float: center;
  margin-left: 425px;

}
.category-head{
  margin-top: 5%;
  margin-left: 7%;
}

.category-head ul {
  list-style-type: none;
  display: grid;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-template-columns: repeat(3,1fr);
}

.category-title {
  width: 60%;
  height: 75%;
  display: grid;
  justify-content: center;
  background: red;
  padding: 7rem;
  margin-bottom: 15rem;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 5px 5px gray;
}

.category-title li {
  font-size: large;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
}

.container3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: black;
  width: 1200px;
  margin-left: 175px;
  font-size: 24px;
  color: gray;
 
  }
  
.div1 { 
  text-align: center;
  float: center;
  color: red;
  font-weight: 700;
  font-size: 30px;
  }

.div1 img{
  width: 50%;
  box-shadow: 0px 0px 5px 5px gray;
  
}
  .button{
    text-align: right;
  }
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

   .contact{
    text-align: center;
    padding: 50px;
   }
   .contact button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #850101, #791616);
    border-radius: 50px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 30px;
    padding: 0.6em 1.5em;
   }
   
  .contact button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }
